.login-form {
    border-radius: 15px;
    padding: 20px;
    border-color: grey;
    border-style: solid;
    border-width: thin;
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}